body{
    margin: 0;
    font-family: sans-serif;
}
/*Logo styles*/
.logo{
    display: flex;
    height: 30px;
}
/*Color for the multimedia section*/
.info{
    background-color: darkcyan;
    height: 100vh;
}
/*Color for the letter of the footer*/
#copyR>p{
    padding-left: 35%;
    color: black;
/*Margin for the footer*/
}
#SM{
    margin: 80px 0px 0px 0px;
}
/*Style for the module of the video*/
.Video-Modules{
    background-color: grey;
}
/*Style For the video div*/
.Video{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin: 80px 0px 0px 180px;
}

.Video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
}